{% extends "layout.html" %}

{% block body %}
	<!-- Main Search Form -->
	<form action ="{{ url_for('handle_data') }}" method="post">
	  <div class="form-group">
	    <label for="SearchFormInput">Enter Search</label>
	    <input type="text" name = "searchInput" class="form-control" id="SearchFormInput" aria-describedby="emailHelp" placeholder="Ex: MCB 100 or Burruss Hall 116">
	  </div>
	</form>

	<!-- Print Out Room Schedules-->
				<center>
			{% if rooms %}
				{% for room in rooms %}
					{% if total_dict[building][room] %}
						<h2>{{building + ", Room " + rooms[loop.index0] }}</h2>
					<table class = "table table-bordered table-condensed table-striped" style="width:1600px">
						{% set sorted_times = get_sorted_times(building,room) %}
						<tr>
							<th style="width:200px"></th>
								{% for day in days %}
									<th align="center" style="width:200px">{{ day }}</th>
								{% endfor %}
						</tr>
					{% endif %}
					{% for time in sorted_times %}
							<tr>
								<th align="center">{{ time }}</th>
								{% for day in days %}
									{% if total_dict[building][room][time][day] %}
										<td align="center">
											{% for line in get_list_format(total_dict[building][room][time][day]) %}
												{{line}}<br>
											{% endfor %}
										</td>
									{% else %}
										<td></td>
									{% endif %}
								{% endfor %}
							</tr>
					{% endfor %}
					</table>
				{% endfor %}
			{% else %}
				<h6>Invalid Search</h6>
			{% endif %}
		</center>

	<!-- Do Something Else -->

	<!--Test Room Schedules By TimeSlot -->
		<center>
			{% if rooms %}
				{% for room in rooms %}

					{% if total_dict[building][room] %}
						<h2>{{building + ", Room " + rooms[loop.index0] }}</h2>
					<table class = "table table-bordered table-condensed" style="width:1600px">
						{% set sorted_times = get_sorted_times(building,room) %}
						<tr>
							<th style="width:200px"></th>
								{% for day in days %}
									<th align="center" style="width:200px">{{ day }}</th>
								{% endfor %}
						</tr>
						
						<!-- Output 1 cell per min spanned 60
						{% for time in time_span %}
							<tr>
							{% if loop.index0 % 60 == 0 %}
								<th rowpspan = "60">{{time}}</th>
								{% for day in days %}
								<td rowspan = "60"></td>
								{% endfor %}
							{% endif %}
							</tr>
						{% endfor %}
						-->

						<!-- Testing 3d array output to table -->
						{% for time in time_span %}
							{% set start_times = start_time_list(sorted_times) %}
							<tr>							
							{% if loop.index0 % 12 == 0 %}
								<th rowspan = "12">{{time}}</th>
							{% endif %}
								{% for day in days %}
									{% if time in start_times %}
										{% set index = start_times.index(time) %}
										{% if total_dict[building][room][sorted_times[index]][day] %}
											<td align="center" rowspan = "{{get_event_length(sorted_times[index])}}" bgcolor="#ADD8E6">
												{% for line in get_list_format(total_dict[building][room][sorted_times[index]][day]) %}
													{{line}}<br>
												{% endfor %}
											</td>
										{% else %}
											<td></td>
										{% endif %}
									{% else %}
										<td></td>
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}

					{% endif %}	
					</table>
				{% endfor %}
			{% else %}
				<h6>Invalid Search</h6>
			{% endif %}
		</center>
	<!-- -->
	<!-- Do Something Else -->
{% endblock %}